<div class="col-lg-12">
  You can edit description of movies by your need! <br/>
  <br/>Bought Movies: <br/> <br/>
  <table class="table-stripped table">
    <thead>
      <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Runtime (min)</th>
        <th width="25%">Desc</th>
        <th>Play</th>
        <th>View</th>
        <th>Description</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movies of data">
        <td>{{movies.id}}</td>
        <td>{{movies.title}}</td>
        <td>{{movies.year}}</td>
        <td>{{movies.runtime}}</td>
        <td>{{movies.description}}</td>
        <td>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Play Now</button>

      </td>
        <td>
          <a routerLink="/movie/{{movies.id}}" class="btn btn-default">View</a>
        </td>



        <td>
         <button class="btn btn-danger" (click)="editMovie(movies.id)">EDIT</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-12">
  <hr class="dot">
</div>
<div class="col-lg-12">
  <br/>Rented Movies (24h): <br/> <br/>
  <table class="table-stripped table">
    <thead>
      <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Runtime (min)</th>
        <th>Play</th>
        <th>View</th>
        <th>DELETE</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movies of data2">
        <td>{{movies.id}}</td>
        <td>{{movies.title}}</td>
        <td>{{movies.year}}</td>
        <td>{{movies.runtime}}</td>
        <td>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Play Now</button>

      </td>

        <td>
          <a routerLink="/movie/{{movies.id}}" class="btn btn-default">View</a>
        </td>

                <td>
                | <button class="btn btn-danger" (click)="removeMovie($event,movies.id)">DELETE</button> |
                </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Now Playing!</h1>
      </div>
      <div class="modal-body">
        <iframe width="500" height="315" src="https://www.youtube.com/embed/5dsGWM5XGdg?autoplay=0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
